.slider-imagem{
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.imagens-produto{
    position: absolute;
    bottom: 20px;
    left: 23%;
    transform: translateX(-50%);
    width: 24%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 120px;
    grid-gap: 10px;
    padding: 10px;
}

.imagens-produto img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.imagens-produto img.ativo{
    opacity: 0.5;
}

.detalhes{
    width: 100%;
    padding-left: 100px;
}

.detalhes .marca-produto{
    text-transform: capitalize;
    font-size: 30px;
}

.descrição-produto{
    width: 600px;
}

.detalhes .descrição-produto{
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.preço-produto{
    font-weight: 700;
    font-size: 30px;
}

.preço-real{
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.desconto{
    color: #ff7d7d;
    font-size: 20px;
}

.produto-subhead{
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.botao-tamanho{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
}

.botao-tamanho.check{
    background: #383838;
    color: #fff;
}

.btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    margin: 20px 0;
}

.btn-carrinho{
    margin-right: 2%;
    background: #383838;
    color: #fff;
}

.detalhes-descrição{
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading{
    font-size: 30px;
    margin-bottom: 30px;
}

.des{
    color: #383838;
    line-height: 25px;
}